/* This is an External CSS File used with forms */

body {background-color:purple;}

h2 {color:yellow;}

p {font-size:14pt; color:yellow;}


legend {font-size:28pt; color:yellow; text-align:center;}

td {font-size:18pt}

